body {
  background: #0c0f31;
}
.nav {
  font-size: 20px;
  font-family: Poppins;
  background-color: #0c0c2b;
  padding: 10px;
  margin-bottom: 30px;
}

.nav-item {
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.nav-link.active {
  color: #fff;
  text-decoration: underline;
}

#HeadingContainer {
  width: 70%;
  margin: auto;
  margin-top: 40px;
  padding: 23px;
  display: block;
  justify-content: center;
}

h1 {
  padding: 10px;
  font-weight: bolder;
  font-size: 39px;
  background: -webkit-linear-gradient(
    90deg,
    rgba(162, 11, 217, 1) 32%,
    rgba(17, 2, 241, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heading {
  width: 859px;
  margin: auto;
  font-family: Poppins;
  text-align: center;
}
.intro {
  padding: 10px;
  width: 926px;
  color: rgba(255, 255, 255, 1);
  margin: auto;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  font-weight: Medium;
  font-size: 24px;
  text-align: center;
}
.name {
  font-weight: bold;
  font: size 40px;

  background: linear-gradient(rgba(176, 109, 182, 1), rgba(62, 93, 255, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.landingImg {
  margin: auto;
  display: flex;
  justify-content: center;
}
h2 {
  color: #fff;
  background: linear-gradient(rgba(102, 117, 255, 1), rgba(163, 61, 174, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-family: Montserrat;
  font-weight: 700;
}
h3 {
  padding-top: 5px;
  color: #fff;

  font-family: Montserrat;
  font-weight: 700;
}
h4 {
  color: #fff;
  font-size: 19px;
  font-family: Montserrat;
  font-weight: 500;
  padding: 5px 6px 5px;
}
#projectContainer {
  position: relative;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.card-body {
  position: relative;
  color: #fff;
}

.card-text {
  position: absolute;
  text-align: center;
  background: linear-gradient(
    181.15deg,
    #ffffff -6.05%,
    #863ca4 -6.05%,
    #263984 100.37%
  );
  border-radius: 38px;
}
.containerB {
  margin: auto;
  max-width: 70%;
  display: flex;
  justify-content: space-evenly;
}

#projectButton {
  width: 210px;
  height: 53px;
  background: linear-gradient(117deg, #863ca4 0%, #263984 100%);
  border-radius: 30px;
  border: none;
  font-family: Poppins;
  font-size: 20px;
  color: white;

  margin-top: 25px;
}
.container {
  margin-top: 300px;
}
.contact-container {
  margin-top: 70px;
}
h5 {
  color: #fff;
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 600;
  display: flex;
  width: 464px;
  height: 52.455px;
  flex-direction: column;
  flex-shrink: 0;
}
p {
  color: #fff;
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 600;
}

#messagebox {
  width: 392px;
  height: 422px;
  margin: auto;
  background: #0c1336;
  box-shadow: 7px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
  display: flex;
  justify-content: flex-end;
}
.form-control::placeholder {
  color: #ffffff;
  opacity: 0.7;
}
#buttonEmail {
  margin: auto;
  background: linear-gradient(117deg, #863ca4 0%, #263984 100%);
  display: flex;
  border: none;
  font-family: Poppins;
  font-size: 18px;
  border-radius: 30px;
  width: 100px;
  height: 43px;
  padding: 8px 24px 8px;
}
#imgletter {
  margin: 2px;
}
